<script type="text/ng-template" id="contact-view">
  
  <div class="row contacts">
    <div class="col-sm-6">

      <div class="well">
        <h2>Контакты</h2>

        <section class="contact clearfix">
          <figure class="photo">
            <a href="/img/members/photo-1.jpg" class="img">
              <img src="/img/members/small-photo-1.jpg" height="120" alt="Сергей Довгаль">
            </a>
          </figure>

          <div class="info">
            <h4>Сергий Довгаль</h4>
            <h6>Председатель братства</h6>
            
            <ul>
              <li>Телефон: <a href="tel:00375293737250">8 (029) 373-72-50</a></li>
              <li>Почта: <a href="mailto:sergeyfondspiros@gmail.com">sergeyfondspiros@gmail.com</a></li>
            </ul>
          </div>
        </section>

      </div>

    </div>

    <div class="col-sm-6">

      <div class="well">
        <h2>Интернет ресурсы</h2> 

        <ul>
          <li>Почта: <a href="mailto:mail@bratstvost.by">mail@bratstvost.by</a></li>
          <li>Facebook: <a href="https://www.facebook.com/bratstvost">facebook.com/bratstvost</a></li>
          <li>Вконтакте: <a href="http://vk.com/bratstvost">vk.com/bratstvost</a></li>
          <li>Twitter: <a href="http://twitter.com/bratstvost">twitter.com/bratstvost</a></li>
        </ul>

      </div>

      <div class="well">
        <h2>Платежные реквизиты</h2>
        <p>
          Приход храма Преображения Господня в г.Заславль<br>
          Минская Епархия<br>
          Белорусская Православная Церковь РБ<br>
          <b>Адрес:</b> 223036 г.Заславль ул.Замковая 6 <br>  
          <b>р/с</b> 3015006593715<br>
          <b>Банк:</b> ЦБУ №537 ОАО "Белинвестбанк", г. Минск, Могилевская, 5 код 739 <br>
          <b>УНП:</b> 600411131, <b>ОКПО</b> 26952624<br>
          с пометкой <b>(ДЛЯ БРАТСТВА)</b></p>
      </div>

    </div>
  </div>

</script>