<script type="text/ng-template" id="donations-view">
    <table class="table well">
        <thead>
        <tr>
            <th>#</th>
            <th>Дата поступления</th>
            <th>Описание</th>
            <th>Документ</th>
        </tr>
        </thead>
        <tbody>
        <!--
        <tr>
            <th scope="row">1</th>
            <td>январь 2016 г.</td>
            <td>Покупка продуктов для Грозовского ПНИ</td>
            <td>
                <a href="/img/donations/Грозово_продукты_01.2016.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>январь 2016 г.</td>
            <td>Покупка продуктов для Борисовского ПНИ д.Тарасики</td>
            <td>
                <a href="/img/donations/Тарасики_продукты_01.2016.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>январь 2016 г.</td>
            <td>Покупка продуктов для Столбцовского ПНИ д.Куль</td>
            <td>
                <a href="/img/donations/Куль_продукты_01.2016.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>январь 2016 г.</td>
            <td>Подарки ПНИ-2 г.Минск</td>
            <td>
                <a href="/img/donations/2016.01_подарки_ПНИ-2.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>19 января 2016 г.</td>
            <td>Подгузники для ПНИ-2 г.Червень</td>
            <td>
                <a href="/img/donations/2016.01.19_подгузники_Червень.jpg" target="_blank" class="img">
                    продажа
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>январь 2016 г.</td>
            <td>Подарки для ПНИ-2 г.Клецк</td>
            <td>
                <a href="/img/donations/2016.01_подарки_Клецк.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>16 января 2016 г.</td>
            <td>Доставка ребят из ПНИ Грозово на благотворительный концерт.</td>
            <td>
                <a href="/img/donations/2016.01.16_доставка_Грозово.jpg" target="_blank" class="img">
                    расписка
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>январь 2016 г.</td>
            <td>Чай для ПНИ Тарасики.</td>
            <td>
                <a href="/img/donations/2016.01_чай_Тарасики.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>26 января 2016 г.</td>
            <td>Подгузники для ПНИ Тарасики.</td>
            <td>
                <a href="/img/donations/2016.01.26_подгузники_Тарасики.jpg" target="_blank" class="img">
                    Договор пожертвования
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>27 января 2016 г.</td>
            <td>Заказ на молитвенную комнату в Столбцовский ПНИ.</td>
            <td>
                <a href="/img/donations/2016.01.27_молитв_комната_Свирь.jpg" target="_blank" class="img">
                    Накладная
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>28 января 2016 г.</td>
            <td>20 подносов в столовую ПНИ д.Куль.</td>
            <td>
                <a href="/img/donations/2016.01.28_подносы_Куль.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>13 января 2016 г.</td>
            <td>Доставка детей из Червенского ПНИ на "Рождественский турнир".</td>
            <td>
                <a href="/img/donations/2016.01.13_доставка_детей_Червень.jpg" target="_blank" class="img">
                    Счет
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>январь 2016 г.</td>
            <td>Подгузники на Столбовский ПНИ.</td>
            <td>
                <a href="/img/donations/2016.01_подгузники_Столбцовский_ПНИ.jpg" target="_blank" class="img">
                    Счет-фактура
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>16 января 2016 г.</td>
            <td>Доставка детей из Червенского интерната на "Рождественский турнир".</td>
            <td>
                <a href="/img/donations/2016.01.16_доставка_Червень.jpg" target="_blank" class="img">
                    Квитанция
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>25 января 2016 г.</td>
            <td>Подгузники на Свирь.</td>
            <td>
                <a href="/img/donations/2016.01.25_подгузники_Свирь.jpg" target="_blank" class="img">
                    Акт
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>8 февраля 2016 г.</td>
            <td>Торты подарочные в детский интернат г. Молодечно.</td>
            <td>
                <a href="/img/donations/2016.02.08_торты_интернат.jpg" target="_blank" class="img">
                    Чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>февраль 2016 г.</td>
            <td>Подарки ПНИ-2 г.Минск.</td>
            <td>
                <a href="/img/donations/2016.02_подарки_ПНИ-2.jpg" target="_blank" class="img">
                    Чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td>февраль 2016 г.</td>
            <td>Подарки ПНИ д.Тарасики.</td>
            <td>
                <a href="/img/donations/2016.02_покупки_Тарасики.jpg" target="_blank" class="img">
                    Чек
                </a>
            </td>
        </tr>
<!--
        <tr>
            <th scope="row">1</th>
            <td>14 января 2015 г.</td>
            <td>Покупка подгузников</td>
            <td>
                <a href="/img/donations/подгузники_14.01.2015.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>5 февраля 2015 г.</td>
            <td>Покупка медицинской клеенки</td>
            <td>
                <a href="/img/donations/клеенка_медицинская_05.02.2015.jpg" target="_blank" class="img">
                    Квитанция
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>10-13 февраля 2015 г.</td>
            <td>Покупка товаров для ПНИ</td>
            <td>
                <a href="/img/donations/товары_ПНИ_10-13.02.2015.jpg" target="_blank" class="img">
                    Товарные чеки
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>февраль 2015 г.</td>
            <td>Чай для ПНИ д.Тарасики</td>
            <td>
                <a href="/img/donations/Чай_ПНИ_Тарасики.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>3, 5 и 11 марта 2015 г.</td>
            <td>Чай для ПНИ в д.Тарасики, Молодечно и Грозовского ПНИ</td>
            <td>
                <a href="/img/donations/3,5,11.03.2015_Тар,Молод,Гроз.jpg" target="_blank" class="img">
                    Товарные чеки
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>14 марта 2015 г.</td>
            <td>Организация концерта</td>
            <td>
                <a href="/img/donations/14.03.2015_орг.концерта.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>14 апреля 2015 г.</td>
            <td>Пасхальные куличи</td>
            <td>
                <a href="/img/donations/Куличи 14.04.15.jpg" target="_blank" class="img">
                    Товарный чек
                </a>
            </td>
        </tr>
-->
        </tbody>
    </table>
</script>
