<script type="text/ng-template" id="honorable-view">

    <div class="row contacts">
        <div class="col-sm-12 text-center">

            <div class="well">
                <h2>Почетные братчики</h2>

                <section class="honorable clearfix">
                    <figure class="photo">
                        <a href="/img/members/photo-shavel.jpg" class="img">
                            <img src="/img/members/small-photo-shavel.jpg" height="120" alt="Константин Шавель">
                        </a>
                    </figure>

                    <div class="info">
                        <h4>Константин Шавель</h4>
                        <h6>Ктитор Полоцкого Спасо-Ефросиниевского женского монастыря</h6>
                        <h6>Ктитор прихода храма святителя Спиридона Тримифунтского на о.Корфу</h6>
                    </div>
                </section>

                <section class="honorable clearfix">
                    <figure class="photo">
                        <a href="/img/members/photo-tihanovich.jpg" class="img">
                            <img src="/img/members/small-photo-tihanovich.jpg" height="120" alt="Александр Тиханович и Ядвига Поплавская">
                        </a>
                    </figure>

                    <div class="info">
                        <h4>Александр Тиханович и Ядвига Поплавская</h4>
                        <h6>народные артисты Беларуси</h6>
                    </div>
                </section>

                <section class="honorable clearfix">
                    <figure class="photo">
                        <a href="/img/members/photo-kaminski.jpg" class="img">
                            <img src="/img/members/small-photo-kaminski.jpg" height="120" alt="Дмитрий Каминский">
                        </a>
                    </figure>

                    <div class="info">
                        <h4>Дмитрий Каминский</h4>
                        <h6>певец</h6>
                    </div>
                </section>

                <section class="honorable clearfix">
                    <figure class="photo">
                        <a href="/img/members/photo-rodov.jpg" class="img">
                            <img src="/img/members/small-photo-rodov.jpg" height="120" alt="Матвей Родов">
                        </a>
                    </figure>

                    <div class="info">
                        <h4>Матвей Родов</h4>
                        <h6>оператор православного информационного портала <a href="http://sobor.by" target="_blank">sobor.by</a></h6>
                    </div>
                </section>


            </div>

        </div>
    </div>

</script>