<script type="text/ng-template" id="memory-book-view">
    <table class="table well memory">
        <thead>
        <tr>
            <th><h2>Книга памяти</h2></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">
                    <a href="/img/members/photo-46.jpg" class="img">
                        <img src="/img/members/small-photo-46.jpg" height="120" alt="Елена Кутепова">
                    </a>
            </td>
            <td>
                <div class="info">
                    <h4>Елена Кутепова</h4>
                    <ul>
                        <li>Преставилась 13.05.2015г. Онкология.</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center"></td>
            <td>
                <div class="info">
                    <h4>Елена Станкевич</h4>
                    <ul>
                        <li>Преставилась 04.12.2013г. Жила в ПНИ в Дражне.</li>
                    </ul>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

</script>