<script type="text/ng-template" id="thanks-view">

    <div class="well text-center">
        <h2>Наши благодарности</h2>

        <div class="row contacts">
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_1.jpg" class="img">
                        <img src="/img/thanks/Благодарность_1.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_2.jpg" class="img">
                        <img src="/img/thanks/Благодарность_2.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_3.jpg" class="img">
                        <img src="/img/thanks/Благодарность_3.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_4.jpg" class="img">
                        <img src="/img/thanks/Благодарность_4.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_5.jpg" class="img">
                        <img src="/img/thanks/Благодарность_5.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_6.jpg" class="img">
                        <img src="/img/thanks/Благодарность_6.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_7.jpg" class="img">
                        <img src="/img/thanks/Благодарность_7.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <figure class="honorable">
                    <a href="/img/thanks/Благодарность_8.jpg" class="img">
                        <img src="/img/thanks/Благодарность_8.jpg" height="360" alt="благодарность">
                    </a>
                </figure>
            </div>
        </div>
    </div>

</script>