<script type="text/ng-template" id="video-view">

  <div class="row">

    <div class="col-sm-6" >
      <div class="well video-well" ng-repeat="video in videosLeft" ng-init="video.preview=true" >
        <div class="video-wrap" ng-switch="video.preview">
          <div  ng-switch-when="false" class="video-player">
            <iframe width="100%" height="100%" src="{{video.url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div ng-switch-when="true" class="video-preview img" style="background-image: url('{{video.thumb_url}}')" ng-click="video.preview=false">
            <div class="video-title">{{video.title}}</div>
          </div>
        </div>
      </div>        
    </div>

    <div class="col-sm-6">
      <div class="well video-well" ng-repeat="video in videosRight" ng-init="video.preview=true" >
        <div class="video-wrap" ng-switch="video.preview">
          <div ng-switch-when="false" class="video-player">
            <iframe width="100%" height="100%" src="{{video.url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div ng-switch-when="true" class="video-preview img" style="background-image: url('{{video.thumb_url}}')" ng-click="video.preview=false">
            <div class="video-title">{{video.title}}</div>
          </div>
        </div>
      </div>        
    </div>

  </div>

</script>