@charset "UTF-8";

@font-face {
  font-family: "bratstvost-icon-font";
  src:url("../fonts/bratstvost-icon-font.eot");
  src:url("../fonts/bratstvost-icon-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bratstvost-icon-font.ttf") format("truetype"),
    url("../fonts/bratstvost-icon-font.svg#bratstvost-icon-font") format("svg"),
    url("../fonts/bratstvost-icon-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "bratstvost-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bratstvost-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cal:before {
  content: "c";
}

.icon-time:before {
  content: "t";
}

.icon-place:before {
  content: "m";
}

.icon-user:before {
  content: "u";
}

.icon-phone:before {
  content: "e";
}

.icon-wallet:before {
  content: "w";
}

.icon-archive:before {
  content: "a";
}

.icon-news:before {
  content: "n";
}

.icon-news2:before {
  content: "N";
}

.icon-collapsed:before {
  content: "x";
}

.icon-expanded:before {
  content: "p";
}

.icon-video-play:before {
  content: "v";
}
