VENDOR_PREFIXES          = webkit moz o ms official

/*** Typography ***/

DEFAULT_FONT_SIZE         = 100%
DEFAULT_FONT              = "PT Serif", Palatino, "Palatino Linotype", Georgia, serif
DEFAULT_LINE_HEIGHT       = 1.5em

HEAD_FONT                 = "PT Sans Narrow", "HelveticaNeueCondensed", "Arial Narrow", sans-serif

/*** Colors ***/

TEXT_COLOR               ?= GRAYDARK
LINK_COLOR               ?= #08c
LINK_COLOR_HOVER         ?= darken(LINK_COLOR, 15%)

@import "default"

MAX_PATGE_WIDTH = 600px