.modal
  absolute: all
  display: none
  z-index: 1000
  min-height: 100%
  clearfix()
  &.none
    bottom: auto
    height: 0
  &.backdrop
    &:before
      display: block
      content: ""
      fixed: all
      background: rgba(white, .6)
  &.active
    display: block

  .modal-view
    position: relative
    z-index: 1000
    background: white
    box-shadow: 0 3px 10px rgba(black, .4)
    margin: 100px auto
    width: 480px

  .modal-head
    color: black
    padding: 0 20px
    clearfix()


  .modal-text
    font: 15px DEFAULT_FONT
    padding: 20px 20px 20px
    color: black
    clearfix()

  .x
    absolute: top right 10px
    font: 12px DEFAULT_FONT
    background: #eee
    padding: 2px 5px
    cursor: pointer
    user-select: none
    &:hover
      background: #444
      color: white


.modal.video
  fixed: all
  overflow: hidden

.modal.picture
  absolute: all
  .modal-view
    max-width: 720px
    width: auto
    height: auto
    background: white

  .flexslider
    margin: 0
    overflow-x: hidden
    border: none
