.news-list {
  overflow: hidden;
  padding: 0;
  .news {
    display: block;
    position: relative;
    list-style: none;
    padding: 5px 0;
    .clearfix();
    p {
      margin: 7px 0;
    }
  }
  .time {
    font: 15px @font-family-narrow;
    color: #aaa;
    margin-bottom: 5px;
  }
}