@import "_variables";

.well {
  color: @well-color;
}

.logo {
  height: 295px;
  background: url(/img/logo.png) no-repeat center;
}

h1.title {
  text-align: center;
  font: 400 42px @font-family-narrow;
}

h2.next-event-title {
  color: @sun-flower;
  font: bold 24px @font-family-narrow;
  margin-top: 0;
}

h2.past-event-title {
  color: desaturate(@sun-flower, 50%);
  font: bold 24px @font-family-narrow;
}

.well-events {
  color: @clouds;
  background: @belize-hole;
  border: none;
}

.well-warn {
  background: @orange;
  border: none;
  color: black;
  a {
    color: @belize-hole;
    white-space: nowrap;
  }
}

@import "_events";