@import "_variables";
@import "mixins";

.well {
  color: @well-color;
}

.logo {
  height: 197px;
  background: url(/img/logo-200.png) no-repeat center;
}

h1.title {
  text-align: center;
  font: 400 42px @font-family-narrow;
}

.hot {
  position: relative;
  background: #eedb8c;
}

.red {
  background: @pomegranate;
  border: none; 
  color: white;
}

.orange {
  background: @orange;
  border: none; 
  color: black;
}

.green {
  background: @green-sea;
  border: none; 
  color: white;
}

.well {
  h2 {
    font: bold 24px @font-family-narrow;
    &:first-child {
      margin-top: 0;
    }
  }
}

.well-events {
  color: @clouds;
  background: @belize-hole;
  border: none;
}

.well-warn {
  background: @orange;
  border: none;
  color: black;
  a {
    color: @belize-hole;
    white-space: nowrap;
  }
}

.well-oldsite {
  border: none;
  color: black;
  background: @orange;
}

.with-carousel {

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.carousel img {
  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
}

@import "_events";
@import "_news";
@import "_contacts";
@import "_about";
@import "_video";