@import "_variables.less";

.logo {
  width: 300px;
  height: 295px;
  background: url(/img/logo.png) no-repeat;
}

h1.title {
  text-align: center;
  color: white;
  font: 300 42px @font-family-narrow;
}
