@import "_variables.less";

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: #5b2275;
  margin-top: 42px;
  -webkit-font-smoothing: antialiased;
}

.footer {
  min-height: 42px;
}