@import "config"
@import "vendors"
@import "mixins"

html
  background: #7d94af

body
  background: #7d94af
  overflow-x: hidden
  clearfix()

.main-container
  width: 960px
  margin-right: auto
  margin-left: auto
  min-height: 100%
  margin-bottom: 100px
  clearfix()


// HEADER

.global-header
  padding: 20px 0 10px
  display: black
  .icon
    background: url(/logo-200.png) center no-repeat
    height: 197px
  .name
    h1
      color: #eef4fa
      font: bold 2em/1.4em DEFAULT_FONT
      letter-spacing: 1px
      text-align: center
      margin: 0
      text-shadow: 0 2px 2px rgba(#2f4963, 0.8)

COL_COUNT    = 10
COL_WIDTH    = 78px
GUT_WIDTH    = 20px
BLOCK_HEIGHT = 320px

get-span($n)
  return (COL_WIDTH + GUT_WIDTH) * $n - GUT_WIDTH

get-offset($n)
  return (COL_WIDTH + GUT_WIDTH) * $n

@import "_nav"

.columns
  padding: GUT_WIDTH 0 
  margin: 0
  clearfix()

.main-content-col,
.aside-content-col
  width: get-offset(6)
  float: left
  box-sizing: border-box
  clearfix()

.aside-content-col
  width: get-span(4)


@import "_news"
@import "_event"
@import "_modal"

.blur
  -webkit-filter: blur(3px)
  user-select: none

// MISC

.pull-right
  float: right

.readmore
  &:after
    content: " →"
  display: inline-block
  padding: 4px 12px
  color: white
  background: #155cba
  text-decoration: none
  border-radius: 40px
  &:hover
    color: white
    background: #2d90ff
    text-decoration: none
  &:active
    color: white
    background: #2d90ff
    text-decoration: none
  &:visited
    color: white
    background: #2d90ff
    text-decoration: none

.glossy
  position: relative
  box-shadow: 0 2px 5px rgba(black,.5)
  border-radius: 4px
  img
    display: block
    margin: 0
    padding: 0
    border-radius: 4px
  &:after
    content: ''
    absolute: top left right height 50%
    border-radius: 4px
    background: linear-gradient(top, rgba(white,0.5) 0%,rgba(white,.1) 100%)
  &:before
    content: ''
    absolute: all
    border-radius: 4px
    box-shadow: inset 0 1px 0 rgba(white, .8), inset 0 -1px 0 rgba(white, .3), 0 1px 0 rgba(black,.8)
