@import "_config"
@import "_vendors"
@import "_mixins"

p
  font-weight: 300
  font-size: 18px
  line-height: 1.5em
  margin: 2.5em 0

h3
  font-family: 'Roboto Slab', serif
  font-weight: 100
  font-size: 32px

a
  text-decoration: none !important