@import "config"
@import "vendors"
@import "mixins"

html
  background: #7d94af

body
  //position: relative
  background: #7d94af
  overflow-x: hidden
  clearfix()

.main-container
  width: 960px
  margin-right: auto
  margin-left: auto
  min-height: 100%
  margin-bottom: 100px
  clearfix()








// HEADER

.global-header
  padding: 20px 0 10px
  display: black
  .icon
    background: url(/logo-200.png) center no-repeat
    height: 197px
  .name
    h1
      color: #eef4fa
      font: bold 2em/1.4em DEFAULT_FONT
      letter-spacing: 1px
      text-align: center
      margin: 0
      text-shadow: 0 2px 2px rgba(#2f4963, 0.8)








// NAV

.global-nav
  border-radius: 5px
  overflow: hidden
  box-shadow: 0 1px 4px rgba(black, .4)
  background: white
  margin: 0
  padding: 0
  ul
    list-style: none
    display: table
    width: 100%
    margin: 0
  li
    display: table-cell
    box-sizing: border-box
    width: 240px
    text-align: center
    a
      border-top: 3px solid #155cba
      display: block
      text-transform: uppercase
      font: bold 16px NARROW_FONT
      padding: 1em 0
  li
    a:hover
      border-top: 3px solid #2d90ff
  li.active
    a
      cursor: default
      border-top: 3px solid #c89433
      background: #e8e8e8
      color: black
    a:hover
      background: #e8e8e8
      color: black









COL_COUNT    = 10
COL_WIDTH    = 78px
GUT_WIDTH    = 20px
BLOCK_HEIGHT = 320px

get-span($n)
  return (COL_WIDTH + GUT_WIDTH) * $n - GUT_WIDTH

get-offset($n)
  return (COL_WIDTH + GUT_WIDTH) * $n

.columns
  padding: GUT_WIDTH 0 
  margin: 0
  clearfix()

.main-content-col,
.aside-content-col
  width: get-offset(6)
  float: left
  box-sizing: border-box
  clearfix()

.aside-content-col
  width: get-span(4)







// NEWS
.news-list
  box-sizing: border-box
  background: white
  border-radius: 5px
  margin-right: 20px
  box-shadow: 0 1px 4px rgba(black, .4)
  padding: 10px
  clearfix()

  .news-view
    float: left
    padding: 25px 10px
    width: get-span(3) - GUT_WIDTH
    clearfix()
    //border-top: 2px solid #eee
    &:nth-child(odd)
      clear: left
      //padding-right: 20px
    &:nth-child(1), &:nth-child(2)
      padding-top: 0
      border-top: none
    p, figure
      margin: .75em 0
      clearfix()

  .news-body
    cursor: default
    font: 15px/19px SERIF_FONT
    transition: color .2s ease-in-out
    clearfix()

  .news-img
    overflow: hidden
    margin: 0
    padding: 0
    line-height: 0
    clearfix()
    &.video
      position: relative
      cursor: pointer
      user-select: none
      box-shadow: 0 1px 3px rgba(black,.6)
      border-radius: 4px
      img
        max-width: 254px
      &:before
        content: ''
        absolute: top left right height 50%
        border-radius: 4px
        background: linear-gradient(top, rgba(white,0.4) 0%,rgba(white,.1) 100%)
      &:after
        transition: color .2s ease-in-out
        content: "\f01d"
        absolute: top 50% left 50%
        margin: -48px 0 0 -48px
        font: 96px/96px FontAwesome
        color: rgba(white, .3)
    &.picture
      position: relative
      cursor: pointer
      user-select: none
      box-shadow: 0 1px 3px rgba(black,.6)
      border-radius: 4px
      img
        max-width: 254px
      &:before
        content: ''
        absolute: top left right height 50%
        border-radius: 4px
        background: linear-gradient(top, rgba(white,0.4) 0%,rgba(white,.1) 100%)
      &:after
        transition: color .2s ease-in-out
        content: "\f03e"
        absolute: top 50% left 50%
        margin: -48px 0 0 -48px
        font: 96px/96px FontAwesome
        color: rgba(white, .3)


  .news-date
    display: block
    cursor: default
    font: bold 12px/16px NARROW_FONT !important
    text-transform: uppercase
    color: #f2f2f2
    padding: 4px 4px 2px
    background: #042658 //#155cba
    border-radius: 2px
    transition: all .1s ease-in-out
    clearfix()
    &:hover
      background: #36a4ff

  .news-view:hover
    .news-date
      background: #36a4ff 
    

  .news-view.clickable:hover
    .news-body
      color: #399edf
      background: pointer
    .news-img.video:after,
    .news-img.picture:after
      color: rgba(white, .5)
    .news-date
      cursor: pointer




// EVENTS

.events-list
  color: #e2e2e2
  background: #042658
  border-radius: 5px
  box-shadow: 0 1px 4px rgba(black, .4)
  box-sizing: border-box
  padding: 20px
  font-size: 14px
  .small
    font-size: 12px
  a
    color: #399edf
    text-decoration: none
    border-bottom: 1px solid rgba(LINK_COLOR, .1)
    transition: border .4s ease-in-out
    &:hover
      color: #399edf
      text-decoration: none
      border-bottom: 1px solid #399edf
    &:active
      color: #399edf
      text-decoration: none
    &:visited
      color: #399edf
      text-decoration: none
      &:hover
        border-bottom: 1px solid #399edf

.event-short
  position: relative
  display: table
  padding: 10px 0 10px 3px
  cursor: pointer

.event-date, 
.event-head
  display: table-cell


.event-state
  absolute top 10px left bottom 10px
  width: 3px
  background: #1873c6
  transition: width 100ms ease-in-out
  &.new
    background: #36a4ff
    box-shadow: 0 0 3px #36a4ff, 0 0 10px #36a4ff


.event-short:hover
  .event-state
    width: 7px

.event-date
  vertical-align: middle
  width: 50px
  .day
    font: 28px/32px DEFAULT_FONT
    text-align: center
  .month
    font: 14px/14px DEFAULT_FONT
    text-transform: uppercase
    text-align: center

.event-head
  vertical-align: middle

.event-more
  height: 0
  overflow: hidden
  &.active
    height: auto
  padding-left: 20px

  ul
    padding: 0
    margin: 0
    padding-left: 1em
  li
    padding: 0
    margin: 0

  dt
    display: block
    margin: 0
    padding: 0
    float: left
    clear: left
    font: bold 14px/18px NARROW_FONT
    max-width: 120px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    text-align: left
    padding-right: 5px
    &:after
      content: ": "

  dd
    relative: top 1px
    margin: 0
    padding: 0
    font: 13px/19px SANS_FONT
    display: block
    margin-bottom: 5px
    margin-left: 20px

.event-body
  p
    font: 13px/18px SANS_FONT
    margin: .25em 0
    text-indent: 1em
    text-align: left
    strong
      font-style: italic

// .archive
//   .event-short
//     color: #aaa
//   .event-state:before
//     background: #95a8ba

.archive    
  .event-short
    opacity: .5








.modal
  absolute: all
  display: none
  z-index: 1000
  min-height: 100%
  clearfix()
  &.none
    bottom: auto
    height: 0
  &.backdrop
    &:before
      display: block
      content: ""
      fixed: all
      background: rgba(white, .6)
  &.active
    display: block
  .modal-view
    position: relative
    z-index: 1000
    background: white
    //border-radius: 5px
    box-shadow: 0 3px 10px rgba(black, .4)
    margin: 100px auto
    width: 480px
    padding: 20px
  .x
    absolute: top right 10px
    font: 12px DEFAULT_FONT
    background: #eee
    padding: 2px 5px
    cursor: pointer
    user-select: none
    &:hover
      background: #444
      color: white


.modal.video
  fixed: all
  overflow: hidden

.modal.picture
  absolute: all
  .modal-view
    margin-top: 100px
    height: 540px
    padding: 1px 0 0
    background: rgba(black, .8)
  .x
    background: white
    color: black
    box-shadow: 0 1px 1px black
    opacity: .25
    &:hover
      background: white
      color: black
      opacity: .75
  .flexslider
    margin: 0
    overflow-x: hidden
    border: none
  .modal-head
    color: white
    padding: 0 20px
  .modal-text
    font: 15px DEFAULT_FONT
    padding: 20px 20px 20px
    color: white


// .modal.centred-flex
//   display: box
//   display: flex
//   box-align: center
//   align-items: center
//   box-pack: center
//   justify-content: center
//   margin: auto
    
  

.blur
  -webkit-filter: blur(3px)
  user-select: none



// MISC

.pull-right
  float: right

.readmore
  &:after
    content: " →"
  display: inline-block
  padding: 4px 12px
  color: white
  background: #155cba
  text-decoration: none
  border-radius: 40px
  &:hover
    color: white
    background: #2d90ff
    text-decoration: none
  &:active
    color: white
    background: #2d90ff
    text-decoration: none
  &:visited
    color: white
    background: #2d90ff
    text-decoration: none

.glossy
  position: relative
  box-shadow: 0 2px 5px rgba(black,.5)
  border-radius: 4px
  img
    display: block
    margin: 0
    padding: 0
    border-radius: 4px
  &:after
    content: ''
    absolute: top left right height 50%
    border-radius: 4px
    background: linear-gradient(top, rgba(white,0.5) 0%,rgba(white,.1) 100%)
  &:before
    content: ''
    absolute: all
    border-radius: 4px
    box-shadow: inset 0 1px 0 rgba(white, .8), inset 0 -1px 0 rgba(white, .3), 0 1px 0 rgba(black,.8)
