<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="components/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="components/codemirror/theme/monokai.css">
<link rel="stylesheet" href="components/bootstrap/docs/assets/css/bootstrap.css">
<link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">

<script src="components/jquery/jquery.js"></script>
<script src="components/underscore/underscore.js"></script>
<script src="components/backbone/backbone.js"></script>
<script src="components/socket.io-client/dist/socket.io.js"></script>

<script src="components/codemirror/lib/codemirror.js"></script>
<script src="components/codemirror/mode/yaml/yaml.js"></script>
<script src="components/marked/lib/marked.js"></script>
<script src="components/moment/moment.js"></script>
<script src="components/bootstrap/js/bootstrap-tab.js"></script>
<script src="components/bootstrap/js/bootstrap-modal.js"></script>
<script src="components/bootstrap/js/bootstrap-button.js"></script>


<script src="scripts/js-yaml.js"></script>
<script src="scripts/to-markdown.js"></script>
<script src="scripts/misc.js"></script>
<script src="components/prefix-free/prefixfree.js"></script>

<style>
  body{
  }

  .events .center {
    text-align: center;
  }

  .table {
    font: 16px "PT Sans";
    max-width: 600px;
  }

  .CodeMirror {
    box-sizing: border-box;
    font: 11px Menlo;
    border-radius: 3px;
    background: #f0f0f0;
  }
  .events {
    /*overflow: hidden;*/
  }
  .events tr {
    /*overflow: hidden;*/
    cursor: pointer;
  }
  .events th {
    text-align: center;
    vertical-align: middle;
    font: bold 18px "PT Sans Narrow";
  }

  .events td {
    vertical-align: middle;
/*    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
  }

  .modal {
    width: 640px;
    margin-left: -320px;
  }

</style>

<script src="scripts/admin.js"></script>

<title>Document</title>

<div class="container-fluid">

  <ul class="nav nav-tabs" id="pages">
    <li class="active"><a href="#events">Events</a></li>
    <li><a href="#news">News</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="events">

      <div class="row-fluid">
        <header>
          <h2>Event manager</h2>
        </header>
      </div>

      <div class="event-list autoload" id="event-list" data-class="UIEventList">

        <section class="row-fluid">
          <header>
            <h3>Active</h3>
          </header>
          <table class="table table-bordered table-hover events">
            <tr>
              <th>Title</th>
              <th width="150">Date</th>
              <th width="100" class="center">Control</th>
            </tr>
            <tbody class="active-items">
              <script type="text/template" id="UIEventView-template">
                <td><%= title %></td>
                <td><%= date %></td>
                <td class="btn-toolbar">
                  <div class="btn-group">
                    <button class="btn btn-small publish-btn <% if(published){ %>active<% } %>"><i class="icon-ok-sign text-success"></i></button>
                    <button class="btn btn-small edit-btn"><i class="icon-pencil text-info"></i></button>
                    <button class="btn btn-small remove-btn"><i class="icon-remove text-error"></i></button>
                  </div>
                </td>
              </script>
            </tbody>
          </table>
        </section>

        <a class="btn btn-primary create-new-btn">New Event</a>

        <section class="row-fluid">
          <header>
            <h3>Archived</h3>
          </header>
          <table class="table table-bordered table-hover events">
            <tr>
              <th>Title</th>
              <th width="150">Date</th>
              <th width="100" class="center">Control</th>
            </tr>
            <tbody class="archived-items">

            </tbody>
          </table>
        </section>

        <div id="event-editor-modal" class="modal fade editor-modal" tabindex="-1" role="dialog" aria-labelledby="eventEditorLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Create Event</h3>
          </div>
          <div class="modal-body">
            <div class="row-fluid">
              <div class="modal-message">&nbsp;</div>
            </div>
            <div class="row-fluid">
              <textarea class="editor" data-class="UIEditor" id="event-editor"></textarea>
            </div>
            <div class="row-fluid">
              <div class="message">&nbsp;</div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-inverse pull-left" data-toggle="button">RAW</button> -->
            <a href="#" class="btn pull-left template-btn">Template</a>
            <a href="#" class="btn pull-left reset-btn">Reset</a>
            <a href="#" class="btn" class="close" data-dismiss="modal" aria-hidden="true">Close</a>
            <a href="#" class="btn btn-primary save-btn">Save</a>
          </div>
        </div>

      </div>

    </div>

    <div class="tab-pane" id="news">

    <div class="row-fluid">
        <header>
          <h2>News manager</h2>
        </header>
      </div>

      <div class="news-list autoload" id="news-list" data-class="UINewsList">

        <section class="row-fluid">

          <table class="table table-bordered table-hover news">
            <tr>
              <th>Title</th>
              <th width="150">Date</th>
              <th width="100" class="center">Control</th>
            </tr>
            <tbody class="items">
              <script type="text/template" id="UINewsView-template">
                <td><%= title %></td>
                <td><%= date %></td>
                <td class="btn-toolbar">
                  <div class="btn-group">
                    <button class="btn btn-small publish-btn <% if(published){ %>active<% } %>"><i class="icon-ok-sign text-success"></i></button>
                    <button class="btn btn-small edit-btn"><i class="icon-pencil text-info"></i></button>
                    <button class="btn btn-small remove-btn"><i class="icon-remove text-error"></i></button>
                  </div>
                </td>
              </script>
            </tbody>
          </table>

        </section>

        <a class="btn btn-primary create-new-btn">Add News</a>

        <div id="news-editor-modal" class="modal fade editor-modal" tabindex="-1" role="dialog" aria-labelledby="newsEditorLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Create Event</h3>
          </div>
          <div class="modal-body">
            <div class="row-fluid">
              <div class="modal-message">&nbsp;</div>
            </div>
            <div class="row-fluid">
              <textarea class="editor" data-class="UIEditor" id="news-editor"></textarea>
            </div>
            <div class="row-fluid">
              <div class="message">&nbsp;</div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-inverse pull-left" data-toggle="button">RAW</button> -->
            <a href="#" class="btn pull-left template-btn">Template</a>
            <a href="#" class="btn pull-left reset-btn">Reset</a>
            <a href="#" class="btn" class="close" data-dismiss="modal" aria-hidden="true">Close</a>
            <a href="#" class="btn btn-primary save-btn">Save</a>
          </div>
        </div>

      </div>

    </div>
  </div>



</div>
