<!-- VIDEO POST -->
<p>
  <figure class="news-img video">
    <img src="{{thumb_url}}" alt="{{thumb_title}}">
  </figure>
</p>


<p class="news-date"><time>{{#formatDate}}fromNow{{/formatDate}}</time></p>
<p class="news-body">{{excerpt}}</p>
<p class="desc">{{desc}}</p>
<p class="note">{{note}}</p>
<dl>
  <dt><i class="icon-map-marker"></i> Место проведения</dt>
  <dd>{{place}}</dd>

  <dt><i class="icon-time"></i> Время проведения</dt>
  <dd>{{#formatTime}}{{/fromatTime}}</dd>
  <dt><i class="icon-user"></i> Организаторы</dt>
  <dd><br>
    <ul>
      <li><a href="http://bratstvost.by/">Братство святителя Спиридона</a></li>
      <li><a href="https://www.facebook.com/blueskytalentcompany">Blue Sky Talent Company</a></li>
    </ul>
  </dd>
  <dt><i class="icon-phone"></i> Телефон</dt>
  <dd><a href="phone:{{phone}}">{{formatPhone}}{{/formatPhon}}</a></dd>
</dl>



{{#events}}
<article class="event-view">

  <div class="event-short">
    <div class="event-state {{isNew}}"></div>
    <div class="event-date">
      <div class="day">{{#formatDate}}D{{/formatDate}}</div>
      <div class="month">{{#formatDate}}MMM{{/formatDate}}</div>
    </div>
    <div class="event-desc">{{{head}}}</div>
  </div>

  <div class="event-more">
    {{#body}}
      <p class="body">{{{body}}}</p>
    {{/body}}
    <dl>

      {{#place}}
        <dt><i class="icon-map-marker"></i> Место проведения</dt>
        <dd>{{{place}}}</dd>
      {{/place}}

      {{#time}}
        <dt><i class="icon-time"></i> Время проведения</dt>
        <dd>{{#formatDate}}dddd, D MMMM YYYY [в] H:mm{{/formatDate}}</dd>
      {{/time}}
    
      {{#meeting_place}}
        <dt><i class="icon-map-marker"></i> Место сбора</dt>
        <dd>{{meeting_place}}</dd>
      {{/meeting_place}}

      {{#meeting_time}}
        <dt><i class="icon-time"></i> Время сбора</dt>
        <dd>{{#formatDate}}dddd, D MMMM YYYY [в] H:mm{{/formatDate}}</dd>
      {{/meeting_time}}
    
      {{#priest}}
        <dt><i class="icon-user"></i> Священник</dt>
        <dd>{{priest}}</dd>
      {{/priest}}
    
      {{#organizer}}
        <dt><i class="icon-user"></i> Организатор</dt>
        <dd>{{organizer}}</dd>
      {{/organizer}}
    
      {{#phone}}
        <dt><i class="icon-phone"></i> Телефон</dt>
        <dd><a href="phone:{{phone}}">{{formatPhone}}{{/formatPhone}}</a></dd>
      {{/phone}}

      {{#custom_fields}}
        <dt><i class="icon-{{icon}}"></i> {{term}}</dt>
        <dd>{{{desc}}}</dd>
      {{/custom_fields}}
    </dl>
  </div>
</article>
{{/events}}











<div 
    class="modal video backdrop" 
    id="modal-519de141d650946127000003" 
    data-class="UIArticleModal" 
    data-id="519de141d650946127000003"
  >
    <div class="modal-view">
      <div class="x">ЗАКРЫТЬ</div>
      <header>
        <h3>{{titile}}</h3>
      </header>
      <p class="video">
        {{{html}}}
      </p>
      <p class="video-desc"></p>
    </div>
  </div>
</div>