@import "config"
@import "vendors"
@import "mixins"


/* Flex classes */

.page
  margin: 20px auto
  max-width: MAX_PATGE_WIDTH

.event
  margin: 1.5em 0 1.5em
  padding: 0 1em

.icon
  margin: 0 auto
  size: 300px 295px
  background: url(/img/logo.png)

.last-update
  text-align: center
  color: #bbb

.date
  margin-right: 1em
  background: #222
  text-align: center
  width: 80px
  .wrap
    padding: 5px 0
  .day
    font: 40px/40px HEAD_FONT
  .mon
    font: 24px/24px HEAD_FONT
    text-transform: uppercase
  .time
    color: #eee
    font: 20px/20px HEAD_FONT
    padding: 5px 0

.red
  background: #800000
  color: white

.yellow
  background: #808000
  color: white

.green
  background: #008000
  color: white

.info
  font: 0.875em "PT Sans"
  ul
    color: #555
    margin: 0.5em 0 0.5em
    list-style: none