.page{margin:20px auto;max-width:600px}
.event{margin:1.5em 0 1.5em;padding:0 1em}
.news{margin:1.5em 0 1.5em;padding:0 1em}
.icon{margin:0 auto;width:300px;height:295px;background:url("/img/logo.png")}
.last-update{text-align:center;color:#bbb}
.date{margin-right:1em;background:#222;text-align:center;width:80px;}
.date .wrap{padding:5px 0}
.date .day{font:40px/40px "PT Sans Narrow","HelveticaNeueCondensed","Arial Narrow",sans-serif}
.date .mon{font:24px/24px "PT Sans Narrow","HelveticaNeueCondensed","Arial Narrow",sans-serif;text-transform:uppercase}
.date .time{color:#eee;font:20px/20px "PT Sans Narrow","HelveticaNeueCondensed","Arial Narrow",sans-serif;padding:5px 0}
.red{background:#800000;color:#fff}
.yellow{background:#ac8130;color:#fff}
.green{background:#008000;color:#fff}
.info{font:.875em "PT Sans";}
.info ul{color:#555;margin:.5em 0 .5em;list-style:none}
