@import "config"
@import "vendors"
@import "mixins"

body
  background: #dbe0e7
  overflow-x: hidden
  clearfix()

.main-container
  width: 960px
  margin-right: auto
  margin-left: auto
  min-height: 100%
  margin-bottom: 100px
  clearfix()








// HEADER

.global-header
  padding: 20px 0 10px
  display: black
  .icon
    background: url(/logo-100.png) center no-repeat
    height: 98px
  .name
    h1
      color: #6e7378
      font: bold 1.75em/1.75em DEFAULT_FONT
      text-align: center
      margin: 0
      text-shadow: 0 1px 0 rgba(white, 0.8)








// NAV

.global-nav
  border-radius: 5px
  overflow: hidden
  box-shadow: 0 1px 4px rgba(black, .4)
  background: white
  margin: 0
  padding: 0
  ul
    list-style: none
    display: table
    width: 100%
    margin: 0
  li
    display: table-cell
    box-sizing: border-box
    width: 240px
    text-align: center
    a
      border-top: 3px solid #155cba
      display: block
      text-transform: uppercase
      font: bold 16px NARROW_FONT
      padding: 1em 0
  li
    a:hover
      border-top: 3px solid #2d90ff
  li.active
    a
      cursor: default
      border-top: 3px solid #c89433
      background: #e8e8e8
      color: black
    a:hover
      background: #e8e8e8
      color: black









COL_COUNT    = 10
COL_WIDTH    = 78px
GUT_WIDTH    = 20px
BLOCK_HEIGHT = 320px

get-span($n)
  return (COL_WIDTH + GUT_WIDTH) * $n - GUT_WIDTH

get-offset($n)
  return (COL_WIDTH + GUT_WIDTH) * $n

.columns
  padding: GUT_WIDTH 0 
  margin: 0
  clearfix()

.main-content-col,
.aside-content-col
  width: get-offset(6)
  float: left
  box-sizing: border-box
  clearfix()

.aside-content-col
  width: get-span(4)







// NEWS
.news-list
  box-sizing: border-box
  background: white
  border-radius: 5px
  margin-right: 20px
  box-shadow: 0 1px 4px rgba(black, .4)
  padding: 20px
  column-width: get-span(3) - GUT_WIDTH
  column-gap: GUT_WIDTH
  clearfix()

  .news-view
    //float: left
    padding: 20px 0
    -webkit-column-break-inside: avoid
    -moz-column-break-inside: avoid
    -o-column-break-inside: avoid
    -ms-column-break-inside: avoid
    column-break-inside: avoid
    break-inside: avoid;
    page-break-inside: avoid
    clearfix()
    border-top: 1px solid #ccc
    &:first-child
      border-top: none
    p
      margin: .25em 0
  .news-body
    font: 15px/19px SERIF_FONT

  .news-img
    overflow: hidden
    border-radius: 4px
    margin: 0
    padding: 0

  .news-date
    font: 12px SANS_FONT
    text-transform: uppercase
    color: #888
    








// EVENTS

.events-list
  color: #e2e2e2
  background: #042658
  border-radius: 5px
  box-shadow: 0 1px 4px rgba(black, .4)
  box-sizing: border-box
  padding: 20px
  font-size: 14px
  .small
    font-size: 12px

.event-short
  display: table
  .event-date, .event-desc, .event-state
    display: table-cell
  padding: 10px 0
  cursor: pointer
.event-state
  position: relative
  &:before
    content: ""
    absolute top left bottom
    width: 3px
    background: #1873c6
    transition: width 100ms ease-in-out
  &.new:before
    background: #36a4ff
    box-shadow: 0 0 3px #36a4ff, 0 0 10px #36a4ff


.event-short:hover
  .event-state:before
    width: 7px

.event-date
  vertical-align: middle
  width: 50px
  .day
    font: 28px/32px DEFAULT_FONT
    text-align: center
  .month
    font: 14px/14px DEFAULT_FONT
    text-transform: uppercase
    text-align: center

.event-desc
  vertical-align: middle
  a
    color: #399edf
    text-decoration: none
    border-bottom: 1px solid rgba(LINK_COLOR, .1)
    transition: border .4s ease-in-out
    &:hover
      color: #399edf
      text-decoration: none
      border-bottom: 1px solid #399edf
    &:active
      color: #399edf
      text-decoration: none
    &:visited
      color: #399edf
      text-decoration: none
      &:hover
        border-bottom: 1px solid #399edf

.event-more
  height: 0
  overflow: hidden
  &.active
    height: auto
  padding-left: 20px

  dt
    display: block
    margin: 0
    padding: 0
    float: left
    clear: left
    font: bold 14px/18px NARROW_FONT
    max-width: 120px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    text-align: left
    padding-right: 5px
    &:after
      content: ": "

  dd
    relative: top 1px
    margin: 0
    padding: 0
    font: 13px/19px DEFAULT_FONT
    display: block
    margin-bottom: 5px
    margin-left: 20px

.archive
  .event-short
    color: #aaa
  .event-state:before
    background: #95a8ba










// MODALS

.modal-container
  display: none
  position: relative
  display: box
  display: flex
  clearfix()

.modal-underlay
  display: none
  absolute: all
  background: black
  opacity: .4

.modal
  display: none
  box-align: center
  align-items: center
  box-pack: center
  justify-content: center





// MISC

.pull-right
  float: right

.readmore
  &:after
    content: " →"
  display: inline-block
  padding: 4px 12px
  color: white
  background: #155cba
  text-decoration: none
  border-radius: 40px
  &:hover
    color: white
    background: #2d90ff
    text-decoration: none
  &:active
    color: white
    background: #2d90ff
    text-decoration: none
  &:visited
    color: white
    background: #2d90ff
    text-decoration: none

