/*** Typography ***/

SANS_FONT   = 'Roboto', "PT Sans", sans-serif
SERIF_FONT  = "Roboto Slab", "PT Serif", serif
NARROW_FONT = "Roboto Condenced", "PT Sans Narrow", sans-serif

DEFAULT_FONT_SIZE        ?= 100%
DEFAULT_FONT             ?= SANS_FONT
DEFAULT_LINE_HEIGHT      ?= 1.5em

TEXT_COLOR               ?= GRAYDARK
LINK_COLOR               ?= #08c
LINK_COLOR_HOVER         ?= darken(LINK_COLOR, 15%)
VISITED_LINK_COLOR       ?= LINK_COLOR